<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 20%; height: 935px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">Admin Panel</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" style="margin-top: 3%;">
      <a href="/admin" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        Bitki Yönetim Paneli
      </a>
    </li>
    <li style="margin-top: 3%;">
      <a href="/admin/kentseldönüsüm" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2" />
        </svg>
        Kentsel Tasarım Yönetim Paneli
      </a>
    </li>
    <li style="margin-top: 3%;">
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table" />
        </svg>
        Proje Yönetim Paneli
      </a>
    </li>
    <li style="margin-top: 3%;">
      <a href="/admin/portfoy" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Portföy Bilgileri Yönetim Paneli
      </a>
    </li>
    <li style="margin-top: 3%;">
      <a href="/admin/iletisim" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        İletişim bilgileri Yönetim Paneli
      </a>
    </li>
    <li style="margin-top: 3%;">
      <a href="/admin/WebGunlugu" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Web Günlüğü Yönetim Paneli
      </a>
    </li>
  </ul>
  <hr>
  
</div>

<div class="b-example-divider"></div>