<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (result.length > 0) { %>
        <% for (let i = 0; i < result.length; i++) { %>
            <div class="card text-center" style="width: 18px; margin-top: 50px;">
                <div class="card-body">
                  <h5 class="card-title"><%= result[i].kategoriAd %></h5>
                  <a href="/Projeler/<%=result[i].kategoriAd  %>" class="btn btn-primary"><%= result[i].kategoriAd %></a>
                </div>
            </div>
          <% } %>
      <% } else { %>
        <!-- Condition is false, do something else here -->
      <% } %>
      

    
</body>
</html>