<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (result2.length > 0) { %>
        <% for (let i = 0; i < result2.length; i++) { %>
            <div class="card text-center" style="width: 18px; margin-top: 50px;">
                <div class="card-body">
                  <h5 class="card-title"><%= result2[i].projeAd %></h5>
                  <a href="/Projeler/<%= kategoriAd %>/<%= result2[i].projeAd %>" class="btn btn-primary"><%= result2[i].projeAd %> deneme</a>
                </div>
            </div>
          <% } %>
      <% } else { %>
        <!-- Condition is false, do something else here -->
      <% } %>
</body>
</html>